<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1>COSMETICS ANALYSIS</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/story">Story</a></li>
                <li><a href="/insights">Insights</a></li>
            </ul>
        </nav>
    </header>

   <main>
    <div class="tableauPlaceholder" id="dashboard1">
        <object class="tableauViz">
            <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
            <param name="embed_code_version" value="3" />
            <param name="site_root" value="" />
            <param name="name" value="TopBrands_17503951780560/Dashboard1" />
            <param name="tabs" value="yes" />
            <param name="toolbar" value="yes" />
            <param name="display_count" value="yes" />
            <param name="language" value="en-US" />
        </object>
    </div>
    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/viz_v1.js"></script>
</main>

</body>
</html>
