<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosmetics Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <h1>COSMETICS ANALYSIS</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/story">Story</a></li>
                <li><a href="/insights">Insights</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <img src="{{ url_for('static', filename='banner.png') }}" alt="Banner Image">
        <h2>Welcome to Your Skincare Companion</h2>
    </section>
</body>
</html>
